$coolColor: #515151;
$bckColor: #EEEEEE;

@mixin basic {
  color: $coolColor;
  text-align: center;
}

body{
  color: $coolColor;
  background-color: $bckColor;
  margin: 0;
}

div.answer{
  width: 598px;
  margin: 0 auto;
  min-height: 150px;
}

nav{
  color: $coolColor;
  background-color: $bckColor;
  padding: 10px;
  width: 598px;
} 

h3{
  color: $coolColor;
  text-align: center;
  margin-bottom: -10px;
}
h3.line{
  position: relative;
  z-index: 1;
  &:before{
    border-top: 1px solid #dfdfdf;
        content:"";
        margin: 0 auto;
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
  }
  span { 
        background: #EEEEEE; 
        padding: 0 15px; 
    }
}

p{
  color: $coolColor;
  text-align: center;
  font-size: 10px;
  margin-bottom: -10px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

li{
  color: $coolColor;
  font-size: 10px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
}

img{
   margin: 0 auto;
}

.topImage{
  min-width: 598px;
  height: 50px;
  background-color: $coolColor;
  overflow: hidden;
  padding: 0 10px;
}


footer{
  background: #4B494F;
  min-height: 50px; 
  text-align: center;
  color: $bckColor;
  font-size: 10px;
  min-width: 598px;
}
