$coolColor: #515151;

@mixin basic {
  color: $coolColor;
  text-align: center;
}

body{
  color: $coolColor;
}

nav{
  color: $coolColor;
} 

h3{
  color: $coolColor;
  text-align: center;
}

p{
  color: $coolColor;
  text-align: center;
}
